<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Seed project</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="css/style.css">

    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-route.min.js"></script>
    <script src="js/lib/angular/angular-animate.min.js"></script>

    <!--html templates-->
    <!--<script src="./js/app.js"></script>-->
    <!--services-->
    <script src="js/services/services.js"></script>
    <!--controllers-->
    <script src="js/controllers/controllers.js"></script>
    <!--directives-->
    <script src="js/directives/directives.js"></script>

</head>
    <body>
    <ng-view></ng-view>

    <!-- Template -->
    <script type="text/ng-template" id="/todos.html">
        Search: <input type="text" ng-model="search.name">
        <ul>
            <li ng-repeat="todo in todos | filter: search">
                <input type="checkbox" ng-model="todo.completed">
                <a href="#/{{$index}}">{{todo.name}}</a>
            </li>
        </ul>
    </script>

    <!-- Template -->
    <script type="text/ng-template" id="/todoDetails.html">
        <h1>{{ todo.name }}</h1>
        completed: <input type="checkbox" ng-model="todo.completed">
        note: <textarea>{{ todo.note }}</textarea>
    </script>


    </body>
</html>