<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
  <meta charset="UTF-8">
  <title>Seed project</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- build:css -->
        <link rel="stylesheet" href="css/style.css">

    <!-- endbuild -->

    <!-- Bootstrap lib + fontawesome -->
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="lib/fonts/fontawesome.min.css" >
    <link rel="stylesheet" href="lib/bootstrap/bootstrap-superhero.css">

    <!-- toaster libs -->
    <link rel="stylesheet" href="lib/toaster/toaster.css">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="lib/toaster/toaster.min.js"></script>


    <!-- Angular libs -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="lib/angular/angular-ui-router.min.js"></script>

    <!-- build:js -->

        <!--html templates-->
        <script src="./js/clientRoutes.js"></script>
        <!--factory-->
        <script src="js/factory/factory.js"></script>
        <!--services-->
        <script src="js/services/services.js"></script>
        <!--controllers-->
        <script src="js/controllers/controllers.js"></script>
        <!--directives-->
        <script src="js/directives/directives.js"></script>

    <!-- endbuild -->

</head>
    <body>


    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        <!-- HEADER AND NAVBAR -->
        <header ng-controller="headerController">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Seed web application</a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li ui-sref-active ="active"><a ui-sref="home"><i class="fa fa-home"></i> Home</a></li>
                        <li ui-sref-active ="active"><a ui-sref="about"><i class="fa fa-shield"></i> About</a></li>
                        <li ui-sref-active ="active"><a ui-sref="contact"><i class="fa fa-comment"></i> Contact</a></li>
                        <li ng-if="isAuthenticated" ui-sref-active ="active"><a ui-sref="identities"><i class="fa fa-group"></i> Identities</a></li>
                        <li ng-if="!isAuthenticated" ui-sref-active ="active" class="register"><a ui-sref="register"><i class="fa fa-sign-in "></i> Register</a></li>
                        <li ng-if="isAuthenticated" ui-sref-active ="active" class="logout"><a ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div> <!--container-->
            </nav>
        </header>

        <!-- this is where content will be injected -->
        <div ui-view ></div>

    </div>

    </body>
</html>