/* Import fonts */
@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; }

html {
    line-height: 1; }

ol, ul {
    list-style: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }

q, blockquote {
    quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
    border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {

}

body  {
    font-family: Merriweather, serif;
    font-size: 1rem;
    line-height: 160%;
    height: 100%;
    width: 100%;
    position: absolute;
}

main {
    background: #FCF4DC;
    width: 80%;
    min-width: 310px;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px 0px black;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    position: relative;
    opacity: .95;
}

@media all and (max-width: 400px) {
    main {
        width: 100%;
        border-radius: 0;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
    font-weight: normal;
    color: #ffffff;
}

a {
    color: #145266;
    font-family: Bree Serif, serif;
}

header {
    margin-bottom: 20px;
}

nav {
    width: 100%;
    background: #EFC94C;
}

nav .table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}

nav li.branding a {
    font-size: 1.5em;
    text-align: left;
    background: #1E9382;
    color: #A2CFA5;
}

nav ul {
    width: 100%;
    margin: 0 auto;
}

nav ul li {
    float: left;
    color: #145266;
    font-family: Bree Serif, serif;
}

nav ul li.user {
    background-color: #D24244;
    color: #EFC94C;
    font-family: Bree Serif, serif;
}

nav ul li.user.hello {
    margin-left: 60px;
    padding: 10px 15px;
}

nav ul li a {
    float: left;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #45B29D;
    color: #E0E7AB;
}
[ng-click]{
    cursor: pointer;
}

.logout, .register{
    float: right !important;
}
/*===================================================================*/
/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page        {
    bottom:0;
    padding-top:68px;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }

/* PAGES (specific colors for each page)
============================================================================= */
.page-home      { background-color:#00D0BC ; color:#00907c ; }
.page-about     { background-color:#E59400 ; color:#a55400 ; }
.page-contact   { background-color:#ffa6bb ; color:#9e0000 ; }



/* ANIMATIONS
============================================================================= */
.well[ui-view]{
    height: 65px;
}

[ui-view].ng-enter 	{
    transition:0.5s;
    opacity: 0;
}
[ui-view].ng-enter-active{
    opacity: 1;
}
[ui-view].ng-leave 	{
}
[ui-view].ng-leave-active{
    transition: 0.5s;
    opacity: 0;
}
/* ========================================================================= */


/*FORMS
============================================================================= */
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top:50px;
}
.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {

}
.form-signin input[type="password"] {

    border-top:1px solid rgba(0,0,0,0.08);
}
.form-signin-heading.text-muted {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

/* ========================================================================= */

.main-alert{
    max-width: 400px;
    margin: 0 auto;
}
.alert-hidden{
    visibility: hidden;
}

.refresh-button{
    font-size: 45px !important;
    position: relative;
    margin: 0 auto;
    color: green;
    background: transparent;
    border: 0;
    height: 50px;
}
.refresh-button:hover{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

.currTempNumber{
    position: absolute;
    top: 158px;
    font-size: 25px;
    /* left: 863px; */
    width: 20px;
    margin: 0 auto;
}